$base-blue: #0d7acc;

$bp-tablet: 1024px;
$bp-mobile: 480px;

@mixin center-styling(
  $wrap: no-wrap,
  $direction: column,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-sizing {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@mixin clear-button-css {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  appearance: none;
}

@mixin txt-neon-shadow {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px rgba(52, 152, 219, 1),
    0 0 50px rgba(52, 152, 219, 1), 0 0 60px rgba(52, 152, 219, 1),
    0 0 70px rgba(52, 152, 219, 1);
}

@mixin media-query($breake-point) {
  @media all and (max-width: $breake-point) {
    @content;
  }
}