$base-blue: #0d7acc;

$bp-tablet: 1024px;
$bp-mobile: 480px;

@mixin center-styling(
  $wrap: no-wrap,
  $direction: column,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-sizing {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@mixin media-query($breake-point) {
  @media all and (max-width: $breake-point) {
    @content;
  }
}

@keyframes hinge {
  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
  }
  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
@mixin animated-hinge($start-x: top, $start-y: left) {
  animation: hinge 2s both;
  animation-timing-function: ease-in-out;
  transform-origin: $start-x $start-y;
}

@keyframes fadeInBottomLeft {
  0% {
    opacity: 0;
    transform: scale(0);
  }
}
@mixin animated-fadein($start-x: bottom, $start-y: left) {
  transform-origin: $start-x $start-y;
  animation: fadeInBottomLeft 0.2s both;
}
